RocketLeague-NodeRed-BakkesBase.json
[
    {
        "id": "db63cbd3f666959c",
        "type": "tab",
        "label": "RocketLeague Assistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "254721f0e35968ca",
        "type": "group",
        "z": "db63cbd3f666959c",
        "name": "ConvertPayload",
        "style": {
            "stroke": "none",
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "38311e9a91f2eab9",
            "874e25cea73a7656",
            "fddef072f6633b29",
            "816060ac4365d6f7",
            "5af74169f14ca5bc",
            "d9510a3bcfdd8a19",
            "c7c78544ab1de35f",
            "09f045c97901c581",
            "782822bad30a184d",
            "f0447176c7994860",
            "4d55f0bc47c89b7f"
        ],
        "x": 720.5,
        "y": 239,
        "w": 332,
        "h": 1022
    },
    {
        "id": "2b5f86880bafb365",
        "type": "group",
        "z": "db63cbd3f666959c",
        "name": "Adjusts the Team Color Values Slightly",
        "style": {
            "stroke": "none",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "c8809e3fc52819f6",
            "6c65106e9df8263a",
            "69ebbc916f82e4dd",
            "c3fa7423fdb0359d",
            "8968e0b5cca140a0"
        ],
        "x": 1094,
        "y": 479,
        "w": 372,
        "h": 442
    },
    {
        "id": "a8e5d90c31783fdb",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 340,
        "wires": [
            [
                "38311e9a91f2eab9"
            ]
        ]
    },
    {
        "id": "70d257127b7b39de",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 380,
        "wires": [
            [
                "38311e9a91f2eab9"
            ]
        ]
    },
    {
        "id": "3a92771671276bae",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 1220,
        "wires": [
            [
                "782822bad30a184d"
            ]
        ]
    },
    {
        "id": "bf5291de0672c076",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 1100,
        "wires": [
            [
                "09f045c97901c581"
            ]
        ]
    },
    {
        "id": "7fd40689e4c061f6",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 1020,
        "wires": [
            [
                "c7c78544ab1de35f"
            ]
        ]
    },
    {
        "id": "cdc56a22488ba957",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 900,
        "wires": [
            [
                "d9510a3bcfdd8a19"
            ]
        ]
    },
    {
        "id": "35c5f863a2a3273b",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 780,
        "wires": [
            [
                "5af74169f14ca5bc"
            ]
        ]
    },
    {
        "id": "abe3652c7dc8e9ec",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 660,
        "wires": [
            [
                "816060ac4365d6f7"
            ]
        ]
    },
    {
        "id": "4dc9ef6920db750f",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 400,
        "wires": [
            [
                "f0447176c7994860"
            ]
        ]
    },
    {
        "id": "e5c3908ea22a40f5",
        "type": "junction",
        "z": "db63cbd3f666959c",
        "x": 636.75,
        "y": 460,
        "wires": [
            [
                "4d55f0bc47c89b7f"
            ]
        ]
    },
    {
        "id": "330d54c4b601fedb",
        "type": "ha-webhook",
        "z": "db63cbd3f666959c",
        "name": "WebhookInsert",
        "server": "c4acbb9e.94dd38",
        "version": 1,
        "outputs": 1,
        "webhookId": "REGENERATE",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "data"
            }
        ],
        "payloadLocation": false,
        "payloadLocationType": false,
        "headersLocation": false,
        "headersLocationType": false,
        "x": 180,
        "y": 580,
        "wires": [
            [
                "20d91555e11ce215"
            ]
        ]
    },
    {
        "id": "20d91555e11ce215",
        "type": "switch",
        "z": "db63cbd3f666959c",
        "name": "Choose",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mainmenu",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "matchcountdown",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "teamScored",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "otherTeamScored",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "teamDemoed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gotDemoed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "freeplay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "overtime",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "exit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 11,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "a8e5d90c31783fdb"
            ],
            [
                "70d257127b7b39de"
            ],
            [
                "4dc9ef6920db750f"
            ],
            [
                "e5c3908ea22a40f5"
            ],
            [
                "fddef072f6633b29"
            ],
            [
                "abe3652c7dc8e9ec"
            ],
            [
                "35c5f863a2a3273b"
            ],
            [
                "cdc56a22488ba957"
            ],
            [
                "7fd40689e4c061f6"
            ],
            [
                "bf5291de0672c076"
            ],
            [
                "3a92771671276bae"
            ]
        ],
        "outputLabels": [
            "TeamColor",
            "TeamColor",
            "MainMenu",
            "MatchCountdown",
            "TeamScored",
            "OtherTeamScored",
            "TeamDemoed",
            "GotDemoed",
            "FreePlay",
            "OverTime",
            "Exit"
        ]
    },
    {
        "id": "b833857523e7bda2",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "TeamLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[msg.r,msg.g,msg.b]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1940,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "38311e9a91f2eab9",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 340,
        "wires": [
            [
                "b833857523e7bda2"
            ]
        ]
    },
    {
        "id": "dbebe7f6bf30ce30",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "MainMenuLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[153, 255, 254]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1960,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "690cbe26d4158c9c",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "TeamScoredLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[msg.rChange,msg.gChange,msg.bChange]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1960,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b9fd6a81549cd73c",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "OtherTeamScoredLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[msg.rChange,msg.gChange,msg.bChange]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1980,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "53c9c4bb74a782c0",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "TeamDemoedColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[255, 190, 0]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1950,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "df4f0f115234bb24",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "GotDemoedLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[255, 190, 0]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1960,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "883a7fb1a533f6a5",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "FreePlayLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[255, 40, 254]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1950,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3923447d0f037473",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "OverTimeLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[255, 40, 254]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1960,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "fa142cbe7a746466",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "ExitLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"kelvin\":3533,\"brightness_pct\":\"100\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1940,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "874e25cea73a7656",
        "type": "comment",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "Convert Payload to RGB payloads",
        "info": "",
        "x": 886.5,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8809e3fc52819f6",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "2b5f86880bafb365",
        "name": "HomeGoalColorAdjust",
        "rules": [
            {
                "t": "set",
                "p": "rChange",
                "pt": "msg",
                "to": "msg.r + ( 255 - msg.r ) / 2",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gChange",
                "pt": "msg",
                "to": "msg.g + ( 255 - msg.g ) / 2",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "bChange",
                "pt": "msg",
                "to": "msg.b + ( 255 - msg.b ) / 2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 560,
        "wires": [
            [
                "690cbe26d4158c9c"
            ]
        ]
    },
    {
        "id": "fddef072f6633b29",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 560,
        "wires": [
            [
                "c8809e3fc52819f6"
            ]
        ]
    },
    {
        "id": "816060ac4365d6f7",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayloadOtherTeamColor",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.OtherTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.OtherTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.OtherTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 660,
        "wires": [
            [
                "6c65106e9df8263a"
            ]
        ]
    },
    {
        "id": "5af74169f14ca5bc",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 780,
        "wires": [
            [
                "53c9c4bb74a782c0"
            ]
        ]
    },
    {
        "id": "d9510a3bcfdd8a19",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 900,
        "wires": [
            [
                "df4f0f115234bb24"
            ]
        ]
    },
    {
        "id": "c7c78544ab1de35f",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 1020,
        "wires": [
            [
                "883a7fb1a533f6a5"
            ]
        ]
    },
    {
        "id": "09f045c97901c581",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 1100,
        "wires": [
            [
                "3923447d0f037473"
            ]
        ]
    },
    {
        "id": "782822bad30a184d",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 1220,
        "wires": [
            [
                "fa142cbe7a746466"
            ]
        ]
    },
    {
        "id": "6c65106e9df8263a",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "2b5f86880bafb365",
        "name": "OtherTeamGoalColorAdjust",
        "rules": [
            {
                "t": "set",
                "p": "rChange",
                "pt": "msg",
                "to": "msg.r + ( 255 - msg.r ) / 2",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "gChange",
                "pt": "msg",
                "to": "msg.g + ( 255 - msg.g ) / 2",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "bChange",
                "pt": "msg",
                "to": "msg.b + ( 255 - msg.b ) / 2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 660,
        "wires": [
            [
                "b9fd6a81549cd73c"
            ]
        ]
    },
    {
        "id": "f0447176c7994860",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 400,
        "wires": [
            [
                "dbebe7f6bf30ce30"
            ]
        ]
    },
    {
        "id": "69ebbc916f82e4dd",
        "type": "comment",
        "z": "db63cbd3f666959c",
        "g": "2b5f86880bafb365",
        "name": "Makes Player Team Color Brighter",
        "info": "",
        "x": 1300,
        "y": 520,
        "wires": []
    },
    {
        "id": "c3fa7423fdb0359d",
        "type": "comment",
        "z": "db63cbd3f666959c",
        "g": "2b5f86880bafb365",
        "name": "Makes Other Team Color Brighter",
        "info": "",
        "x": 1300,
        "y": 620,
        "wires": []
    },
    {
        "id": "8968e0b5cca140a0",
        "type": "comment",
        "z": "db63cbd3f666959c",
        "g": "2b5f86880bafb365",
        "name": "Can also be used for Demo's",
        "info": "Make sure you copy the ConvertPayloadOtherTeamColor if you plan to use the other team's color's for demo's",
        "x": 1280,
        "y": 880,
        "wires": []
    },
    {
        "id": "e2b96fc710bf3917",
        "type": "comment",
        "z": "db63cbd3f666959c",
        "name": "REGENERATE WEBHOOK URL!",
        "info": "",
        "x": 180,
        "y": 540,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "4d55f0bc47c89b7f",
        "type": "change",
        "z": "db63cbd3f666959c",
        "g": "254721f0e35968ca",
        "name": "ConvertPayload",
        "rules": [
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.r",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.g",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.TeamData.PlayersTeam.color.b",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.5,
        "y": 460,
        "wires": [
            [
                "19b8fd30d357e259"
            ]
        ]
    },
    {
        "id": "19b8fd30d357e259",
        "type": "api-call-service",
        "z": "db63cbd3f666959c",
        "name": "MatchCountdownLightColor",
        "server": "c4acbb9e.94dd38",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.LIGHTENTITY"
        ],
        "data": "{\"rgb_color\":[153, 255, 254]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1980,
        "y": 460,
        "wires": [
            []
        ]
    }
]
